*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: 5px auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: comic sans ms ;
    color: #007F73 ;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom: 1px solid #20ff63;

}
nav ul {
    list-style-type: none;
    margin: o;
    padding: o;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px ;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-bottom: 50px;
    margin-top: 50px;
}

.kolom .deskripsi {
    font: size 20px; 
    font-weight: bold;
    font-family: comic sans ms;
    color: #007F73;
    
}

h2 {
    font-family: comic sans ms;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color:#FF204E
    width: 100%;
    line-height: 50px;
    

}

a.tbl-biru {
    background: #007F73;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #faf7f7;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #FFF455;
    text-decoration: none;
    
}

a.tbl-pink {
    background:  #007F73;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 40px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #FFF455;
    text-decoration: none;
}
p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;

}
.tengah {
    text-align: center;
    width: 100%;
}

.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor {
    width: 20%;
    margin: 0 auto;

}
.kartu-tutor img {
    width: 80%;
    border-radius: 70%;
}



.kartu-tutor p {
    font-family: comic sans ms;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #0a0a0a;
}

.partners-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partners {
    width: 20%;
    margin: 0 auto;
}

.kartu-partners img {
    width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#contact {
    background-color:  #dedede;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.footer-section {
    width: 20%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.h3 {
    font-family: comic sans ms;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #FF204E;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin: 40px;
}

.kolom span {
    text-decoration: underline;
}

.kolom span:hover {
    color: #FF204E;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: line-through;
}

.kolom .tol {
    font-family: comic sans mc,georgia ;
    color: #0a0a0a;
    font-size: 20px;
}

.kolom .tol:hover {
    color: #FF204E;
    text-decoration: underline;
}